 {{detectChangeDetection()}}
<!-- <input type="text" [(ngModel)]="filteredname"> -->
<div class="card m-3 p-3">
    <img [src]="data.productImage" [routerLink]="['/detail',data.productId]" [queryParams]="{size:'m',rating:4}" class="img-thumbnail">
    <h4>{{data.productName | uppercase}}</h4>
    <!-- <h5>{{data.productPrice|currency:"INR"}}</h5> -->
    <app-product-price [price]="data.productPrice" [sellingPrice]="data.productSalePrice" [code]="Currencycode"></app-product-price>
<p>{{data.productStock}}</p>
    <button (click)="notifyParent()" class="btn btn-primary" 
    *ngIf="data.productStock>0;else stock">Add to cart</button>

</div>
<ng-template #stock>
    <p>out of stock</p>
</ng-template>
